.admin-navbar {
    background: linear-gradient(to left,#ec7d0a, #dba66d);
    /* שינוי צבע הרקע */
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-nav-content {
    display: flex;
    align-items: right;
    justify-content: space-between;
    width: 100%;
}

.admin-logo-link {
    display: flex;
    align-items: center;
}

.admin-logo {
    width: 120px;
    height: auto;
}

.admin-links {
    display: flex;
    align-items: center;
    justify-content: right;
}

.admin-nav-link {
    color: #ecf0f1;
    /* שינוי צבע הטקסט */
    text-decoration: none;
    font-size: 16px;
    margin: 0 40px;
    transition: color 0.3s ease;
}

.admin-nav-link:hover {
    color: #3498db;
    /* שינוי צבע ההובר */
}

.admin-login-button {
    background-color: #e74c3c;
    /* שינוי צבע הכפתור */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    transition: all 0.3s ease;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(231, 76, 60, 0.3);
    text-align: center;
    width: 110px;
}

.admin-login-button:hover {
    background-color: #c0392b;
    /* שינוי צבע ההובר של הכפתור */
    color: #ffffff;
}

.admin-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.admin-menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    /* שינוי צבע האייקון */
    margin: 2px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .admin-navbar {
        padding: 10px 15px;
    }

    .admin-nav-content {
        flex-wrap: wrap;
        position: relative;
    }

    .admin-logo-link {
        order: 2;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .admin-menu-icon {
        display: flex;
        order: 1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .admin-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #2c3e50;
        /* שינוי צבע הרקע */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 60%;
    }

    .admin-links.open {
        display: flex;
    }

    .admin-nav-link {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        text-align: right;
        background-color: #2c3e50;
        /* שינוי צבע הרקע */
    }

    .admin-login-button {
        font-size: 12px;
        padding: 8px 15px;
        margin: 10px 20px;
        width: calc(60% - 40px);
        text-align: center;
        background-color: #e74c3c;
        /* שינוי צבע הכפתור */
    }


    .admin-menu-icon.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .admin-menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .admin-menu-icon.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}