.container_open {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.left_vid {
    display: flex;
}

.right_words {
    display: flex;
    flex: 1px;
    margin-right: 150px;
}

.right_words h5 {
    direction: rtl;
    /* הגדר כיוון מימין לשמאל */
    text-align: right;
    /* יישור הטקסט מימין */
}
