
.questions-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    direction: rtl;
    text-align: right;
}

.question-frame {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: none;
}

.question-frame:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.question-text {
    font-size: 22px;
    margin-bottom: 10px;
    color: #1779ba;
    font-weight: bold;
    border-bottom: none;
    padding-bottom: 0;
}

.answer-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.answer-frame {
    background-color: #ffffff;
    padding-top: 9px;
    width: 100%;
    display: flex;
}

.answer-content {
    font-size: 18px;
    color: #666;
    overflow-y: auto;
    max-height: calc(80vh - 120px);
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .question-frame {
        padding: 15px;
    }

    .question-text {
        font-size: 16px;
    }

    .answer-content {
        font-size: 14px;
    }

}