
/* Style Login Movements */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/* job-item contains the job div (all data is inside) . */
.job-item {
    border: 9px solid rgb(221, 218, 218);
    width: 320px;
    overflow: hidden;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    max-width: 430px;
    max-height: 230px;
    justify-content: center;
    display: flex;
    grid-template-rows: auto 1fr;
    
}
.job-item:hover {
    background-color: rgb(72, 119, 189);
    transition: 0.5s;
}
/* conteiner contains thw whole main div . */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*controll the img */
.main-img{
    margin-top: -40px; 
    width: 350px;
    height: 150px;
    max-height: 30%;
    object-fit: cover;

}
.img-container {
    width: 100%;
}
/*wrapping the text to controle him. */
.text-wrapper {
    padding: 5px;
    overflow: auto;
}
.text-content {
    line-height: 0.4;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-right: auto; 
}

.button-link {
    display: inline-block;
    padding: 5px 10px ;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 220px;
}

.button-link:hover {
    background-color: #0056b3;
}


/* Jobs_Abroad.css */
.Jobs_Abroad {
    direction: rtl;
    text-align: right;
}
  
.Jobs_Abroad select {
    direction: rtl;
    text-align: right;
    padding: 5px;
    margin: 5px 0;
}