
.navbar {

    background-color: #5082c8;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.title {
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto 0 0;
}

.links {
    display: flex;
    align-items: cen;
    justify-content: right;
    flex-grow: 1;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.links a:hover {
    color: #5082c8;
}

.log_in_Link {
    justify-content: left;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: auto;
    /* Add this line */
}


h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    animation: slideIn 1s ease-in-out;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: scaleIn 1s ease-in-out;
}

button:hover {
    background-color: #5082c8;
}


/* Style Login Movements */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}




/* job-item contains the job div (all data is inside) . */
.job-item {
    border: 9px solid rgb(221, 218, 218);
    width: 320px;
    overflow: hidden;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    max-width: 430px;
    max-height: 230px;
    justify-content: center;
    display: flex;
    grid-template-rows: auto 1fr;
    
}
.job-item:hover {
    background-color: rgb(72, 119, 189);
    transition: 0.5s;
}
/* conteiner contains thw whole main div . */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*controll the img */
.main-img{
    margin-top: -40px; 
    width: 350px;
    height: 150px;
    max-height: 30%;
    object-fit: cover;

}
.img-container {
    width: 100%;
}
/*wrapping the text to controle him. */
.text-wrapper {
    padding: 5px;
    overflow: auto;
}
.text-content {
    margin-top: 13px;
    line-height: 0.4;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 19px;
}

.button-link {
    display: inline-block;
    padding: 5px 10px ;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 220px;
}

.button-link:hover {
    background-color: #0056b3;
}


CSS for BottomBar
.bottom_bar {
  background-color: #5082c8;
  color: #5082c8;
  padding: 20px;
  text-align: right;
}

.bottom_bar_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.link_group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link_item {
  color: #5082c8;
  font-size: 16px;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.link_item:hover {
  color: #fff; 
}

